
/*elemento.nombre_clase{
    
}*/    

p.roig{
    color:red;
}
p.blau{
    color:blue;
}
h2.blau{
    color:blue;
}
.verd{
    color:green;
}

header{
    background-color:pink
}
nav{
    background-color:aquamarine
}
div.bloc2{
    color: green;
    background-color: yellow;
    display: inline-block;
}
span.caja {
    /* color de fons */
    background-color: yellow;
    /* borde */
    border: 1px solid red;
    width: 240px;
    height: 100px;
    display: block;

}
div.caja {
     /* color de fons */
     background-color: yellow;
     /* borde */
     border: 1px solid red;
     width: 240px;
     height: 100px;
     display: inline-block;
}
div.bloc1 {
    background-color: red;
    display: inline-block;
}
span.fecha{
    font-style: oblique;
    text-decoration:underline ;
}
p.desplazado{
    background-color: aquamarine;
    border: red 1px solid;
    /* Desplazamiento */
    position: relative;
    /* Bottom arrib y top bajo */
    /* Left y rigth */
    right:-50px;
    top: 30px;
}
p.p1 {
    background-color: lightblue;
    height: 150px;
    width: 150px;
    position: relative;
    /* z index para que se solape encima de otros */
    z-index: 1;
  }
  
  p.p2 {
    background-color: #DDDDDD;
    height: 150px;
    left: 50px;
    position: relative;
    top: -50px;
    width: 150px;
  }
  img.derecha{
    float: right;
  }
  ul.z{
    list-style-type:square ;
  }
  table {
    border:red 1px solid ;
  }

  td,th{
    border: blue 1px solid;
  }
  textarea {
    resize: none;
  }
  a[title] {
    color: green;
  }
  a[href="https://portal.edu.gva.es/ieselgrao/es/centro-nuevo/"] {
    color: red;
  }
  h4{
    counter-reset: cuenta-ciclos;
  }
  p.ciclos::before{
    content: counter(cuenta-ciclos) ".";
    counter-increment: cuenta-ciclos 5;
    color: red;
  }